<header class="header-style">
    SuperLibrary
    <div class="logo">
        <img src="../../assets/mainLogo.png" alt="Logo de SuperLibrary">
        
    </div>
    <nav>
        <ul>
            
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Accueil</a></li>
            <!-- <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Déconnexion</a>
            </li> -->
            <!-- <p>---- écran abonné ----</p>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Gestion du profil</a></li>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Consulter les emprunts</a></li>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Consultation des ouvrages</a></li> -->
            <!-- <p>---- écran bibliothécaire ----</p> -->
            <li><a routerLink="managesubs" routerLinkActive="active">Gérer les abonnés</a></li>
            <!-- <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Gérer les ouvrages</a></li>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Gérer les types d'ouvrages</a></li>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Gérer les emprunts</a></li> -->

        </ul>
    </nav>
</header>